.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  padding-left: 30%;
}
.icon {
  height: 20px;
  width: 20px;
  padding-left: 40%;
  padding-top: 10px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
}

.spellContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.spell {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 20px;
}

.spellName {
  padding-left: 10px;
}
