.container {
  margin: 0 10%;
  background-color: #e0eff5;
  height: 100vh;
  border-radius: 20px;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.descriptionField {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  margin: 20px 0px;
  color: #888888;
  font-size: 18px;
  font-weight: 600;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  font-size: 20px;
}
.prop {
  padding: 10px;
}

.description {
  padding-top: 20px;
  text-align: justify;
  -moz-text-align-last: right;
  text-align-last: right;
  padding: 50px 30px;
}

.descriptionTitle {
  @extend .prop;
  font-size: 20px;
  padding: 30px;
}

.buttonContainer {
  padding-top: 200px;
}

.loadButton {
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 1px;
  padding: 5px 20px;
  margin-bottom: 50px;
}

.loadButtonDisabled {
  @extend .loadButton;
  color: #808080;
}

.backIcon {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  cursor: pointer;
  left: 20px;
  top: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.spellImg {
  width: 160px;
  height: 150px;
  padding-top: 20px;
}
.wrapper {
  background-image: url("../../images/myImage.jpeg");
}
