.container {
  margin: 2% 10%;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.descriptionField {
  height: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: beige;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 50px;
  font-size: 20px;
}
.prop {
  padding-top: 10px;
}

.description {
  padding-top: 20px;
  align-items: flex-start;
}

.descriptionTitle {
  @extend .prop;
  font-size: 20px;
}

.buttonContainer {
  padding-top: 50px;
}

.loadButton {
  color: green;
  border-color: green;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 1px;
  padding: 5px 20px;
  margin-bottom: 50px;
}
