.card {
  height: 240px;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.magicImage {
  width: 200px;
  margin-top: 0;
}

.bottom {
  width: 200px;
  margin-top: 1px;
  height: 120px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
}

.button {
  color: green;
  border-color: green;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 1px;
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
