@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
    color: hotpink;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    color: green;
  }
}

.container {
  background-color: aqua;
  height: 100vh;
  overflow-y: auto;
}

.title {
  font-weight: 700;
  font-size: 34px;
  padding-top: 10px;
  color: blueviolet;
  animation-name: moveInFromLeft;
  animation-duration: 2s;
}

.loadButton {
  color: green;
  border-color: green;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 1px;
  padding: 5px 20px;
  margin-bottom: 50px;
}

.loader {
  @extend .container;
}

.drawer {
  width: 20%;
  height: 100%;
  position: absolute;
  background-color: wheat;
  left: 0;
  top: 0;
}
