.container {
  background-color: aqua;
  height: 100vh;
  overflow-y: auto;
}

.title {
  font-weight: 700;
  font-size: 34px;
  padding-top: 10px;
}

.loadButton {
  color: green;
  border-color: green;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  font-size: 12px;
  padding: 1px 1px;
  padding: 5px 20px;
  margin-bottom: 50px;
}
